<div class="ui info message">
  <i class="plus icon"></i>
  <h2 class="header">
    Nome {{this.administrativeData.Name}}
  </h2>
  <ul class="list">
    <li>Endereço: {{this.administrativeData.Address}}</li>
    <li>Email: {{this.administrativeData.email}} </li>
    <li>Nº da Instituição: {{this.administrativeData.InstituitionNumber}} </li>    
  </ul>
</div>