 <div class="ui segment" style="background-color: dodgerblue;color:white;">
                                <div class="ui relaxed divided list">
                                    <a class="item"  href="{{postTeamURL}}" >
                                        <div class="content"  style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                            <i class="users icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"  ></i>
                                            <div class="header" style="color:white;">Equipas</div>
                                                    Consultar todas as equipas
                                        </div>
                                    </a>
                                    
                                    <a class="item " onclick="createTeamMenu()" >
                                    <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                        <i class="users icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                                        <div class="header" style="color:white;">Criar Equipa</div>
                                            Criar uma nova equipa
                                    </div>
                                    </a>
                                    
                                    <a class="item" onclick="createPatientMenu()">
                                        <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" >
                                            <i class="user icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i>
                                            <div class="header" style="color:white;">Criar um Utente</div>
                                                    Criar uma conta para um novo utente
                                        </div>      
                                    </a>

                                    
                                    <a class="item" href="{{postPatientURL}}">
                                        <div class="content"   style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                            <i class="user icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Utentes </div>
                                                Consultar todos os utentes
                                        </div>      
                                    </a>


                                    <a class="item"  style="color:lightgray;"  onclick="createStaffMemberMenu()" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                        <div class="content">
                                            <i class="doctor icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Criar um Staff</div>
                                                    Criar uma conta para um membro da instituição
                                        </div>      
                                    </a>


                                    <a class="item"  href="{{DoctorsURL}}" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                        <div class="content">
                                            <i class="doctor icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Doutores</div>
                                                    Consultar todos os doutores
                                        </div>      
                                    </a>

                                     <a class="item"  href="{{NursesURL}}" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                        <div class="content">
                                            <i class="doctor icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Enfermeiros</div>
                                                    Consultar todos os enfermeiros
                                        </div>      
                                    </a>
                                    
                                    <a class="item" onclick="addPeople()">
                                        <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" >
                                            <i class="plus icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i>
                                            <div class="header" style="color:white;">Associar a uma conta existente</div>
                                                   Adicionar médico, enfermeiro e pacientes
                                        </div>      
                                    </a>


                                    <a class="item"  onclick="getInfoMenu()" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                        <div class="content">
                                            <i class="lock icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Informações</div>
                                                Informações sobre a instituição
                                        </div>      
                                    </a>

                                </div>
                                <br>  <br>
                    </div>