<div>
 <div class="column"><h3>Mudar Password </h3> <br></div>                         
    <form class="ui form reset-class" method="POST" onsubmit="return resetPassword()" action="{{changePasswordURL}}" name="changepassword">
          <input  type="hidden" name="email" value="{{email}}" >
                    <div class="field">
                            <label>Antigo password</label>
                                <input placeholder="antigo password..." type="password" name="oldPassword" required>
                    </div>
                    <div class="field">
                            <label>Novo Password</label>
                                <input placeholder="novo password..." type="password" name="password" required>
                    </div>
                     <div class="field">
                            <label>Repetir Password</label>
                                <input placeholder="repetir password..." type="password" name="repeat_password" required>
                    </div>
                     <div class="field">
                   <input id="submit-changepassword-id"class="ui inverted primary button" type="submit" name="submit-change" value="submit">
               </div>  <br><br> <br>
    </form>
</div>
       