
<div>
 <div class="column"> <h3>Criar Equipa </h3></div>  <br>
            <form class="ui form createPatient-class" method="POST" action="{{postTeamURL}}" >
                  <div class="two fields">
                        <h3></h3> <br>
                        <div class="field">
                              <label>Leader E-mail</label>
                              <input placeholder="type the team leader email" type="text" name="leader" required>
                        </div>
                        <div class="field">
                              <label>Designação Equipa</label>
                              <input placeholder="type the Name" type="text" name="lastname" required>
                        </div>
                   </div>
                            
                      <div class="field">
                              <input id="submit-create-team-id"class="ui inverted primary button" type="submit" name="submit-patient" value="submit">
                       </div>           
            </form>                      
</div>
   

