<h4>Imagens Armazenados</h4>
{{#each this.detailedmedicalRecord.uploadedImages}}
    <div class="ui info message">
       <i class="clipboard list icon"></i>
         <div class="ui two column grid">
            <div class="column five wide fields" style=" word-wrap: break-word;">
                 Descrição: {{description}} 
            </div>
            <div class="column"> 
               <img class="ui centered medium image" src="{{src}}"> 
            </div>
        </div>   
                    
    </div>
    <br> <br> <br>
{{/each}}

{{#if this.role}}
    <label>Fazer upload de imagens...</label>
    <div class="field">
         <form method="POST" enctype="multipart/form-data" action="{{this.postURL}}">Select images:
            <label>Descrição das Imagens</label>
            <input placeholder="descrição" type="text" name="description_upload" required>
            <input type="file" id="upload-image-id" name="img" accept="image/x-png,image/gif,image/jpeg" multiple>
            <div class="field">
                    <input id="submit-detailedmedicalrecord-files-id" class="ui inverted primary button" type="submit" name="submit-detailedmedicalrecord" value="submit">
            </div>  <br><br> <br>
        </form>
    </div>
{{/if}}



                     