
   <div class="ui info message">

                <i class="book  icon"></i>
                        <h2 class="header">  Questions  </h2>
                            <ul class="list">
                             <li>obj.question1</li>
                             <li>obj.question2</li>
                             <li>obj.questionN</li>  
                        </ul>
                        
 </div>

                    
