<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script type='text/javascript'  src="/js/administrative.js"></script>
<script type='text/javascript'  src="/js/patient.js"></script>
<script type='text/javascript'  src="/js/staff.js"></script>
<script type='text/javascript'  src="/js/login.js"></script>
<script type='text/javascript'  src="/js/shared.js"></script>
<script type='text/javascript'  src="/js/medicalrecord.js"></script> 
<script type='text/javascript'  src="/js/detailedmedicalrecord.js"></script>
<script type='text/javascript'  src="/js/reset.js"></script>
<link rel="stylesheet" type="text/css" href="/css/admninistrative.css">
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
 


<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}


</style>

<title>Medical Skin Care </title>
