
                       <div class="ui info message">
                                <i class="envelope icon"></i>
                                <h2 class="header">
                                    Outras info
                                </h2>
                                <ul class="list">
                                    <li>obj.anyInfo</li>
                                    <li>obj.someInfo</li>
                                    <li>obj.whaeverWellPutHere</li>
                             
                                  
                                </ul>
                           
                         </div>

     
                       
    