 <div class="ui segment" style="background-color: dodgerblue;color:white;">
                                <div class="ui relaxed divided list">
                                    <a class="item">
                                        <div class="content"  style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                            <i class="users icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"  ></i>
                                            <div class="header" style="color:white;">{{this.medicalRecord.id}}</div>
                                                    Identificação
                                        </div>
                                    </a>
                                    
                                    <a class="item" onclick="showTeamNotes()">
                                    <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                        <i class="users icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                                        <div class="header" style="color:white;">Notas da Equipa</div>
                                            Notas dos Doutores ou Enfermeiros
                                    </div>
                                    </a>
                                    <a class="item" onclick="showReport()">
                                        <div class="content"   style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' ">
                                            <i class="user icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'" ></i> 
                                            <div class="header" style="color:white;">Relatório</div>
                                                Relatório geral do exame
                                        </div>      
                                    </a>
                                </div>
                                <br>  <br>
</div>