 <div class="ui segment menustaff" >
                                <div class="ui relaxed divided list">

                                 <a class="item">
                                        <div class="content"  style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                            <i class="user icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"  ></i>
                                            <div class="header" style="color:white;"> {{this.Staff.profission}} {{this.Staff.LastName}} </div>
                                                    Bem-vindo
                                     </div>
                                    </a>
                                    <a class="item" onclick="teamShow()">
                                        <div class="content"  style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                            <i class="users icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"  ></i>
                                            <div class="header" style="color:white;">Equipas</div>
                                                    Todas as equipas que está inserido
                                        </div>
                                    </a>
                                    
                                    <a class="icon" onclick="notifShow()">
                                    <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                        <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                                        <div class="header" style="color:white;">Notificações</div>
                                            Ver as Notificações
                                    </div>
                                    </a>

                                   <a class="icon" onclick="personalInfoShow()">
                                    <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                        <i class="lock icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                                        <div class="header" style="color:white;">Informações Pessoais</div>
                                            Ver Informações Pessoais
                                    </div>
                                    </a>

                                    <a class="item" onclick="staffChangePasswordShow()">
                                      <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                                          <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                                          <div class="header" style="color:white;">Mudar Password</div>
                                              Mudar a password
                                      </div>
                                    </a>   
                                </div>
                                <br>  <br>
</div>