<div class="ui segment" style="background-color: dodgerblue;color:white; height: 600px;">
    <div class="ui relaxed divided list">
        <a class="item"  href="{{this.medrecordsgroup}}" >
            <div class="content"  style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="users icon" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"  ></i>
                <div class="header" style="color:white;">Grupos de Ficha</div>
                        Todos os grupos de ficha do Utente
            </div>
        </a>       
        <a class="item" onclick="showSexualHistory()">
            <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                <div class="header" style="color:white;">Histórico Sexual</div>
                    Histórico Sexual do Utente
            </div>
        </a>                                    
        <a class="item" onclick="showMedicalHistory()">
            <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                <div class="header" style="color:white;">Histórico Médico</div>
                    Histórico Médico do Utente
            </div>
        </a>
        <a class="item" onclick="showFamilyHistory()">
            <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                <div class="header" style="color:white;">Histórico Familiar</div>
                    Histórico Médico-Familiar do Utente
            </div>
        </a>
        <a class="item" onclick="showSocialHistory()">
            <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                <div class="header" style="color:white;">Histórico Social</div>
                    Histórico Social do Utente
            </div>
        </a>
        <a class="item" onclick="showPersonalInfo()">
            <div class="content" style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray' " >
                <i class="bell icon " style="color:lightgray;" onMouseOver="this.style.color='white'" onMouseOut="this.style.color='lightgray'"></i>
                <div class="header" style="color:white;">Informações Pessoais</div>
                    Informações Pessoais do Utente
            </div>
        </a>
    </div>
    <br>  <br>
</div> 
                                    
                        