 <div class="ui segment" >
        <div class="ui relaxed divided list">
                   
                   <div> <a class="ui  blue tag label item sm-options" id="sm-mrL-options1" onclick="showTeamNotes()">
                         Notas da Equipa
                    </a></div>
                  
                 <div>  <a class="ui  blue tag label item sm-options" id="sm-mrL-options2" onclick="showReport()">
                         Relatório geral do exame
                   </a></div>
         </div>
                                <br> 
</div>