<div class="ui segment" >
                                <div class="ui relaxed divided list">
               
                                   <div>  <a class="ui  blue tag label item sm-options " id="sm-mr-options1" onclick="showPhotos()">
                                        Fotos da Avaliação  
                                    </a> </div>

                                    
                                   <div> <a class="ui  blue tag label item sm-options" id="sm-mr-options2" onclick="showInformation()">
                                         Relatório Geral da Avaliação          
                                    </a></div>
                                   
                                   <div> <a class="ui   blue tag label item sm-options" id="sm-mr-options3" onclick="showNotes()">
                                          Notas da Equipa
                                    </a></div>
                                </div>
                                <br>  <br>
                              
</div>