<!doctype html>
<html lang="en">
  <head>
    {{> head}}

  </head>
     <body bgcolor="#E6E6FA">
    <div class="ui segment">
       
      <div class="ui one column grid container">
        <div class="column middle aligned">

          <div class="ui Huge image floated left"> 
              <img class="ui fluid image" src="http://www.londonmedical.co.uk/wp-content/uploads/2017/12/London-Medical-Centre-patient-and-doctor.png">

          </div>
           <div id="err-id1" >
                <p id="err-id2">{{code}}</p> 
                <div id="err-id3" >{{msg}}</div> 
           </div>
              
       </div>

      </div>
      <h4 class="ui horizontal divider header">
      </h4>
      
    </div>
    </body>
</html>
