<!doctype html>
<html lang="en">
  <head>
    {{> head}}

  </head>
     <body bgcolor="#E6E6FA">
    <div class="ui segment">
      {{> menu home="active"}}   
      <div class="ui one column grid container">
        <div class="column middle aligned">

          <div class="ui Huge image floated left"> 
              <img class="ui fluid image" src="/images/mainImg.png"></div>
              
          </div>

      </div>
      <h4 class="ui horizontal divider header">
      </h4>
      <div>   {{> footer home="active"}} </div>
    </div>
    </body>
