<!doctype html>
<html lang="en">
  <head>
    {{> head}}

  </head>
     <body >
    <div class="ui segment" >
      {{> menu home="active"}}   
              <br> <br><br>
      <div class="ui two column grid container" >
        <div class="column middle aligned" style="height: 350px;">

          <form class="ui form loginParticular-class" method="POST" onsubmit="return loginParticular(this)" action="{{postURL}}">
                        <div class="field">
                   
                            <input type="text" name="email" placeholder="email" required>
                        </div>
                        <div class="field">
                            
                            <input type="password" name="password" placeholder="password" required>
                        </div>
                        
                        <button id="submit-login-particular-id" class="item  ui primary basic button" type="submit">Login</button>
        </form>
        <a href="/resetparticular">Forgot your Password? Reset Here!</a>


          </div>
      </div>
      <h4 class="ui horizontal divider header">
      </h4>
      <div>   {{> footer home="active"}} </div>
    </div>
    </body>
</html>