<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  
  </head>

     <body bgcolor="#E6E6FA">
    <div class="ui segment">
      {{> shortLoggedMenu home="active"}}  
         <div class="ui stackable two column grid aliceblueclass" >
                    <div class="column  four wide fields">
                             {{> shortMenuMedicalRecord}} 
                   </div>
                    <div class="column">
                        {{!-- {{This DIV holds the team notes }} --}}
                        <div id="team-notes-menu-option-id" class="row medical-record-menu-option-class showHideAdministrative2"  style="display: none">
                                {{> teamNotes}}   
                        </div> 
                        <div id="medical-record-report-menu-option-id" class="row medical-record-menu-option-class cornflowerblue" style="display: block;">
                                {{>medicalRecordReport}}   
                        </div> 
                    </div>

       </div>  
     
        </div>
    </body>
</html>