<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  
  </head>

     <body bgcolor="#E6E6FA">
    <div class="ui segment">
      {{> shortLoggedMenu home="active"}}   
     
         
        <div class="ui stackable two column grid aliceblueclass" >
          <div class="column  five wide fields div400" >
            <a class="item ui blue tag label backtomenu"  href="{{this.backTo}}"     >
                      
                      Voltar ao Menu Anterior                           
            </a>
          </div>
          <div class="column">
            <div id="medical-record-group-menu-option-id" class="row medical-record-group-menu-option-class cornflowerblueclass" style="display: block;">
                      {{> medicalRecordGrouppartial }}   
            </div>
          </div>
        </div>
            
       
        </div>
    </body>
</html>
