<!doctype html>
<html lang="en">
  <head>
    {{> head}}
  
  </head>
  <body bgcolor="#E6E6FA">
    <div class="ui segment">
      {{> shortLoggedMenu home="active"}}   
      <div class="ui stackable two column grid aliceblueclass">
        <div id="menu-menu-option-id" class="column  five wide fields">
          {{> shortMenuSharedPatient}} 
        </div>
        <div class="column">
          <div id="sexual-history-menu-option-id" class="row shared-patient-menu-option-class showHideAdministrative2" style="display: none">
            {{> sexualHistory}}   
          </div>
          <div id="social-history-menu-option-id" class="row shared-patient-menu-option-class showHideAdministrative2"style="display: none">
            {{> socialHistory}}   
          </div> 
          <div id="family-history-menu-option-id" class="row shared-patient-menu-option-class showHideAdministrative2" style="display: none">
            {{> familyHistory}}   
          </div>
          <div id="medical-history-menu-option-id" class="row shared-patient-menu-option-class showHideAdministrative2" style="display: none">
            {{> medicalHistory}}   
          </div>  
          <div id="patient-menu-option-id" class="row shared-patient-menu-option-class cornflowerblueclass" style="display: block">
            {{> patientPersonalInfo}}   
          </div>
        </div>
                 
      
        </div>
    </body>
</html>
